.contenedor-login{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:#f4f4f4;

}

.card{

width:380px;

padding:30px;

background:white;

border-radius:10px;

box-shadow:0 0 12px rgba(0,0,0,.2);

}

h1{

text-align:center;

color:#2f6f4f;

margin-bottom:5px;

}

h3{

text-align:center;

margin-bottom:25px;

}

label{

display:block;

margin-top:10px;

font-weight:bold;

}

input{

width:100%;

padding:10px;

margin-top:5px;

margin-bottom:10px;

border-radius:5px;

border:1px solid #ccc;

box-sizing:border-box;

}

button{

width:100%;

padding:12px;

background:#2f6f4f;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

margin-top:15px;

}

button:hover{

background:#24553d;

}

small{

color:red;

}

.subtitulo{

text-align:center;

margin-top:15px;

color:#555;

font-size:14px;

}

.subtitulo a{

color:#2E7D57;

font-weight:bold;

text-decoration:none;

}

.subtitulo a:hover{

text-decoration:underline;

} 